<h1>Ventas</h1>

<form (ngSubmit)="agregarProducto()">
    
    <button type="button" (click)="agregarProducto()" id="agregarProducto">Agregar Venta</button>
    <button type="button" (click)="listaVentas()" id="listaVentas">Listar Ventas</button>
    
    
    <app-add-venta (listaVentas)="listaVentas($event)" *ngIf="showAdd"  ></app-add-venta>
    <app-edit-venta [venta]="venta" *ngIf="showEdit"></app-edit-venta>
    <app-list-ventas  (verVenta)="verVenta($event)"
                      (editarVenta)="editarVenta($event)"
                      (borrarVenta)="borrarVenta($event)"
    *ngIf="showList"></app-list-ventas>
    <app-view-venta [venta]="venta" *ngIf="showView"></app-view-venta>    
  
</form>
