.grid {
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: 200px 200px 200px;
    
  }

.producto {    
    border: solid;
    border-color: black;
    text-align: center;
   }

.productoSeleccionado {    
    border: solid;
    border-color: black;
    text-align: center;
    background-color: pink;
   }

