

  <div id="content" > 


    <h1>Factura de Venta N°{{venta.id}}</h1>

    <label for="fecha">Fecha: </label>
    <output type="text" name="fecha" id="fechaPublicacion" value="{{getFecha(venta.fecha)}}"></output>
    <br>
    <label for="cliente">Cliente: </label>
    <output type="text" name="fecha" id="fechaPublicacion" value="{{venta.cliente}}"></output>
    <br>
    <label for="total">Total: </label>
    <output type="text" name="total" id="total" value="{{venta.total}}"></output>
    <br>
    
    <br>
    <h2>Detalles</h2>
    
    <div>

        <table >
            <tr>
              <th>Identificador SKU</th>
              <th>Producto</th>
              <th>Unidad de Medida</th>
              <th>Cantidad</th>
              <th>Valor</th> 
              <th>Descuento</th> 
              <th>SubTotal</th>
            </tr>
            
            <tr *ngFor="let d of venta.detalles" >
              <td>{{d.producto.sku}}</td>
              <td>{{d.producto.nombre}}</td>
              <td>{{d.producto.uniMedida}}</td>
              <td>{{d.cantidad}}</td> 
              <td>{{d.producto.valor}}</td> 
              <td>{{d.subdescuento}}%</td>  
              <td>{{d.subTotal}}</td> 
              
            </tr>
            

            
        </table>
        <br>
        <label for="total">Total:</label>
        <output type="number" name="total{{venta.id}}" id="total{{venta.id}}" >{{venta.total}}</output>
        <br>
        <label for="total">Descuento:</label>
        <output type="number" name="total{{venta.id}}" id="total{{venta.id}}" >{{getDescuento()}}</output>
        <br>
        <label for="total">Total Neto:</label>
        <output type="number" name="total{{venta.id}}" id="total{{venta.id}}" >{{ venta.total - getDescuento()}}</output>
    </div>
   <br>

  </div>

<div>
 <input type="button" value="Descargar PDF" (click)="generatePDF()"/> 
 </div> 
