<h1>Registro</h1>

<form (ngSubmit)="registrar()">
    
    <label for="usuario">Nombre:</label>
    <input type="text" name="usuario" id="usuario" [(ngModel)]="usuario.nombre" >
    <br>
    <label for="contrasena">Contraseña:</label>
    <input type="password" name="contrasena" id="contrasena" [(ngModel)]="usuario.contrasena  " >
    <br>
    <label for="rol">Rol:</label>
    <select name="rol" id = "rol" [(ngModel)]="usuario.rol">
        <option value="Cajero">Cajero</option>
        <option value="Bodeguero">Bodeguero</option>
    </select>

  <button type="submit" id="login">Registrar</button>

</form>