<h1>Supermercado-REST</h1>

<app-login *ngIf ="registro"></app-login>

<button (click) ="registrar()" [routerLink]="['registro']" routerLinkActive='router-link-active' >Registrarse</button>

<div class="menu">
    <ul class="menu">
        <li><a [routerLink]="['productos']" routerLinkActive='router-link-active' >Productos</a></li>
        <li><a [routerLink]="['inventario']" routerLinkActive='router-link-active' >Inventario</a></li>
        <li><a [routerLink]="['venta']" routerLinkActive='router-link-active'>Ventas</a></li>
        <li><a [routerLink]="['facturas']" routerLinkActive='router-link-active' >Facturas</a></li>
    </ul>

</div>
<br>
<router-outlet></router-outlet>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
Powered by Wizchael © 2018 Javeriana ProWeb Java EE