ul.menu > li {
    display: inline; 
    padding: 10pt;
    font-size: 16pt;
    border: solid;
    border-color: black 1px;
    background: white;
 }
 
 ul.menu > li:hover{
     background-color: wheat; 
 }
 
 
 .menu{
    
    width: 100%;
	margin-top:15px;
}